# Git
alias cb='git branch --sort=-committerdate | fzf --header Checkout | xargs git checkout'
alias gaa='git add --all'
alias gpr='git pull --rebase'
alias gp='git push'
alias gpf='git push --force-with-lease'
alias gst='git status'
alias gcmsg='git commit --message'
alias gcan!='git commit --verbose --all --no-edit --amend'
alias gc!='git commit --verbose --amend'
alias gcn!='git commit --verbose --no-edit --amend'
alias gd='git diff'
alias gpsup='git push --set-upstream origin $(git_current_branch)'
alias grh='git reset'
alias gru='git reset --'
alias grhh='git reset --hard'
alias grhk='git reset --keep'
alias grhs='git reset --soft'
alias glgg='git log --graph'
alias glgga='git log --graph --decorate --all'
alias gsw='git switch'
alias gfa='git fetch --all --tags --prune --jobs=10'
alias gcb='git checkout -b'
alias gcB='git checkout -B'

# Tmux
alias ta="tmux attach"
alias tK="tmux kill-server 2> /dev/null"

# Misc
alias n="nvim"
